{{#if isEditable}}
  {{#power-select
    selected=value
    options=options
    onchange=(action (mut value))
    as |selected_value|
  }}
    {{selected_value}}
  {{/power-select}}
{{else}}
  {{value}}
{{/if}}