<div class="card mb-3">
  <div class="card-header">
    <div class="row">
      <div class="col">
        <h3>
          {{editable-text
            isEditable=isEditable
            label=simulation.label
            placeholder="Simulation name"}}
        </h3>
      </div>

      <div class="col">
        <span class="float-right">
          <span>
            {{#unless simulation.isFilled}}
              {{#bs-tooltip placement="left"}}
                Fill all the inputs before simulating.
              {{/bs-tooltip}}
            {{else if hasSpecialRulesConflict}}
              {{#bs-tooltip placement="left"}}
                There is a weapon with specials rules conflict.
              {{/bs-tooltip}}
            {{/unless}}

            {{#bs-button type="success" onClick=(action "clickSaveEdit")
              value=simulation disabled=isNotValidated}}
              {{#if isEditable}}
                {{fa-icon "area-chart"}}
              {{else}}
                {{fa-icon "edit"}}
              {{/if}}
            {{/bs-button}}
          </span>

          {{#bs-button type="primary" disabled=isNotEditable
            onClick=(action "clickAddWeapon") value=simulation}}
            {{fa-icon "plus"}} Weapon
          {{/bs-button}}

          {{#bs-button type="danger" disabled=isLastSimulation
            onClick=(action "clickDeleteSimulation") value=simulation}}
            {{fa-icon "trash"}}
          {{/bs-button}}
        </span>
      </div>
    </div>
  </div>

  <div class="card-body">
    <label class="font-weight-bold">Target Armor:</label>
    {{editable-number
      isEditable=isEditable
      value=simulation.target.armor
      options=armor_options}}
    |
    <label class="font-weight-bold">PD:</label>
    {{editable-number
      isEditable=isEditable
      value=simulation.target.pd
      options=pd_options}}

    <div class="table-responsive">
      <table class="table table-borderless table-sm">
        <thead>
        <tr>
          <th>Type</th>
          <th>Lock</th>
          <th>Attack</th>
          <th>Damage</th>
          <th>Special</th>
          <th></th>
        </tr>
        </thead>
        {{#each simulation.weapons as |weapon|}}
          {{weapon-details
            weapon=weapon
            weaponSpecialRules=weaponSpecialRules
            isEditable=isEditable
            isLastWeapon=simulation.hasOneWeapon
            updateWeaponSpecialRules=(action "updateWeaponSpecialRules")
            deleteWeapon=(action "deleteWeapon")}}
        {{/each}}
      </table>
    </div>
  </div>
</div>