{{#each simulations as |simulation|}}
  {{simulation-details
    simulation=simulation
    weaponSpecialRules=weaponSpecialRules
    isLastSimulation=isLastSimulation
    saveSimulation=(action saveSimulation)
    addWeapon=(action "addWeapon")
    deleteWeapon=(action "deleteWeapon")
    deleteSimulation=(action "deleteSimulation")
    updateWeaponSpecialRules=(action "updateWeaponSpecialRules")
  }}
{{/each}}