<td>
  {{editable-text
    isEditable=isEditable
    label=weapon.label
    placeholder="Weapon name"}}
</td>
<td>
  {{editable-number
    isEditable=isEditable
    value=weapon.lock
    options=lock_options}}
</td>
<td>
  {{editable-number
    isEditable=isEditable
    value=weapon.attack
    options=attack_options}}
</td>
<td>
  {{editable-number
    isEditable=isEditable
    value=weapon.damage
    options=damage_options}}
</td>
<td>
  {{#if isEditable}}
    {{#power-select-multiple
        disabled=isNotEditable
        selected=weapon.specialRules
        options=weaponSpecialRules
        onchange=(action "selectWeaponSpecialRules" weapon)
        as |specialRule|
      }}
        {{specialRule.label}}
      {{/power-select-multiple}}
  {{else}}
    {{#each weapon.specialRules as |specialRule|}}
      {{specialRule.label}}{{#unless (eq specialRule weapon.specialRules.lastObject)}}, {{/unless}}
    {{/each}}
  {{/if}}
</td>
<td>
  {{#bs-button type="danger" onClick=(action "clickDeleteWeapon")
    value=weapon disabled=isNotDeletable}}
    {{fa-icon "trash"}}
  {{/bs-button}}
</td>
