<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DfC Simulator</title>
    <meta name="description" content="Simulator of attack and damage rolls for the miniature wargame Dropfleet Commander.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{content-for "head"}}

    <link rel="canonical" href="https://dfcsim.cub3.net">
    <link integrity="" rel="stylesheet" href="{{rootURL}}assets/vendor.css">
    <link integrity="" rel="stylesheet" href="{{rootURL}}assets/dfcsim.css">

    <meta property="og:title" content="Dropfleet Commander Simulator">
    <meta property="og:url" content="https://dfcsim.cub3.net">
    <meta property="og:description" content="Simulator of attack and damage rolls for the miniature wargame Dropfleet Commander.">
    <meta property="og:type" content="website">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:creator" content="@sponsfreixes">
    <meta name="twitter:title" content="Dropfleet Commander Simulator">
    <meta name="twitter:url" content="https://dfcsim.cub3.net">
    <meta name="twitter:description" content="Simulator of attack and damage rolls for the miniature wargame Dropfleet Commander.">

    {{content-for "head-footer"}}
  </head>
  <body>
    {{content-for "body"}}

    <script src="{{rootURL}}assets/vendor.js"></script>
    <script src="{{rootURL}}assets/dfcsim.js"></script>

    {{content-for "body-footer"}}
  </body>
</html>
