{{#bs-modal-simple open=modal-help title="Help" size="sm" onHidden=(action (mut modal-help) false)}}
<p>Simulator of attack and damage rolls for the miniature wargame Dropfleet Commander.</p>

<p>Still under development.</p>

<p>If you find a bug or have any suggestion, please <a href="https://www.cub3.net">contact me</a>.</p>
{{/bs-modal-simple}}


{{#bs-button type="primary" size="sm" class="float-right rounded-0"
  onClick=(action (mut modal-help) true)}}
  {{fa-icon "question"}}
{{/bs-button}}


<div class="container">
  <div class="page-header mt-4">
    <h1>Dropfleet Commander Simulator</h1>
  </div>
</div>

<div class="container mt-3 mb-3">
  {{simulations-chart results=model.results}}
</div>

<div class="container">
  {{simulations-list
    simulations=model.simulations
    weaponSpecialRules=model.weaponSpecialRules
    createSimulation=(action "createSimulation")
    saveSimulation=(action "saveSimulation")
    addWeapon=(action "addWeapon")
    deleteWeapon=(action "deleteWeapon")
    deleteSimulation=(action "deleteSimulation")
    updateWeaponSpecialRules=(action "updateWeaponSpecialRules")
  }}
  {{#bs-button type="primary" onClick=(action "createSimulation")}}
    {{fa-icon "plus"}} Simulation
  {{/bs-button}}
</div>

<div class="container">
  <footer class="mt-4">
    Dropfleet Commander is © and TM of <a href="https://ttcombat.com">TTCombat</a>.
  </footer>
</div>